<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (C) 2016
  ~  Created by: usenka, jwu5, cdmacken, jvogel, asanche
  ~  This program is free software; you can redistribute it and/or modify it under the terms of the
  ~  GNU General Public License as published by the Free Software Foundation; either version 2 of the
  ~  License, or (at your option) any later version.
  ~
  ~  This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY
  ~  without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE
  ~  See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with this program; if
  ~ not, write to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
  ~ 02110-1301, USA.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dryver">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission
        android:name="com.truiton.supportmapfragment.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDlq1iPQg_fEFHKek5tFy2r9PdlsTakdZ8" />

        <activity
            android:name=".Activities.ActivityOpeningPage"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.ActivityRegistration"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.ActivityRydeOrDryve"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.ActivityDryverMain"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.ActivityRyderMain"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.ActivityEditProfile"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.ActivityRyderSelection"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.ActivityRequestMap"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.ActivityRequest"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.ActivityLoggedInActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".Utility.HelpMe" />
        <activity android:name=".Activities.ActivityViewProfile"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.ActivityRequestDriverList"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.ActivityDryverSelection"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Activities.ActivityDryverMap"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>